@import url("./fonts.css");
@import url("./reset.css");

:root {
  /* Colors */
  --black: #000;
  --white: #fff;

  /* Brand Colors */
  --primary: #151515;
  --secondary: #4ee1a0;
  --dark-gray: #242424;
  --gray: #d9d9d9;

  --border-divider: 0.0625rem solid var(--white);

  --body: "Space Grotesk", sans-serif;
  --heading-m: 1.5rem;
  --heading-m: clamp()
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--body);
  color: var(--white);
  line-height: 1.65;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.container {
  flex-grow: 1;
  padding: 0 1rem;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-logo {
  color: var(--white);
  font-size: var(--heading-m);
}
