@import url("./fonts.css");
@import url("./reset.css");

:root {
  /* Colors */
  --black: #000;
  --white: #fff;

  /* Brand Colors */
  --primary: #151515;
  --secondary: #4ee1a0;
  --dark-gray: #242424;
  --gray: #d9d9d9;
  --fail: #ff6f5b;

  --border-divider: 0.0625rem solid var(--white);

  --body: "Space Grotesk", sans-serif;
  --heading-m: 1.5rem;
  --heading-l: clamp(2rem, 1.2857rem + 3.5714vw, 3rem);
  --heading-xl: clamp(2.5rem, 1.0714rem + 7.1429vw, 4.5rem);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--body);
  color: var(--white);
  line-height: 1.65;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--primary);
}

.container {
  flex-grow: 1;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* ----- NAVIGATION  ---- */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

.navigation-logo {
  flex-grow: 1;
  color: var(--white);
  font-size: var(--heading-m);
  line-height: 2rem;
  letter-spacing: -0.02081rem;
  padding-bottom: 1.5rem;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-link {
  color: var(--white);
  font-size: 1.23rem;
}

.social-link:hover {
  color: var(--secondary);
}

/* ----------------- HERO ---------------*/
.hero {
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  text-align: center;
}

.hero-image {
  position: relative;
  z-index: 2;
  width: clamp(10.88rem, 4.25rem + 32.98vw, 20.12rem);
  background: linear-gradient(180deg, transparent 0.65%, var(--dark-gray) 100%);
}

.hero-image .image-profile {
  width: 100%;
  object-fit: cover;
}

.bg-position {
  position: absolute;
  z-index: 0;
  width: max-content;
}

.hero-rings {
  top: 18%;
  transform: translateX(-60%);
}

.hero-circle {
  bottom: 0;
  right: 0;
  transform: translateX(50%);
}

.title {
  font-size: var(--heading-xl);
  line-height: 1em;
  letter-spacing: -0.071rem;
  font-weight: 700;
}

.title span {
  border-bottom: 0.25rem solid var(--secondary);
}

.hero-text {
  font-weight: 300;
  margin: 2.4rem 0;
}

.button {
  color: var(--white);
  border-bottom: solid var(--secondary);
  padding: 1rem 0;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.14288rem;
}

.button:hover {
  color: var(--secondary);
}

.hero-title {
  max-width: 14ch; /* ch- character width */
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

/* --------------- SKILLS ------------- */
.skills {
  /* border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white); */
  text-align: center;
  position: relative;
}

.skills-grid {
  border-top: var(--border-divider);
  border-bottom: var(--border-divider);
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 4rem;
}

.skills-content {
  margin-bottom: 2rem;
}

.skills-title {
  font-size: xx-large;
}
.skills-experience {
  font-size: medium;
  font-weight: 300;
}

/* --------------- PROJECTS ------------- */

.projects-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

.project-title {
  font-size: var(--heading-m);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.44rem;
  margin-top: 2rem;
}

.project-tags {
  font-weight: 300;
  font-size: 1.25rem;
}

.project-tag {
  color: var(--white);
}

.project-buttons {
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.project-buttons .button:first-child {
  margin-right: 1.5rem;
}

/*-------------------------- FOOTER --------------*/

.footer {
  background-color: var(--dark-gray);
  position: relative;
  padding: 3.75rem 0;
}

.footer-ring {
  left: 0;
  bottom: 14%;
  transform: translateX(-60%);
}

.footer-container {
  max-width: 27.8rem;
}

.footer-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.12rem;
}

.footer-content {
  text-align: center;
}

.footer-title {
  margin-bottom: 1.25rem;
}

.footer-text {
  max-width: 40ch;
}

.form {
  flex: 1 1 100%;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-error-message {
  color: var(--fail);
  text-align: right;
  font-size: 1rem;
  opacity: 0;
}

.form-field {
  display: block;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: var(--border-divider);
  color: var(--white);
  padding: 0 1rem 1.06rem 1.5rem;
}

.form-field:focus-visible,
.form-field:active {
  outline: none;
  border-bottom: 0.06rem solid var(--secondary);
}

.form-field::placeholder {
  text-transform: uppercase;
}

.form-input {
  margin-bottom: 0.31rem;
}

.form-textarea {
  resize: none;
  min-height: 6.6rem;
}

.form-button {
  display: block;
  margin-left: auto;
  border: none;
  border-bottom: solid var(--secondary);
}

.footer-social-section {
  border-top: var(--border-divider);
  margin-top: 5.44rem;
  padding-top: 2.44rem;
}

@media (min-width: 48rem) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation-logo {
    font-size: 2rem;
    line-height: 2rem; /* 100% */
    letter-spacing: -0.02775rem;
  }

  .social-link {
    font-size: var(--heading-m);
  }

  .container {
    padding: 0 2rem;
  }

  .title {
    --heading-xl: clamp(4.5rem, 2.72rem + 3.7vw, 5.5rem);
    letter-spacing: -0.12781rem;
  }

  .header-container {
    position: relative;
    align-items: start;
  }

  .hero-image {
    position: absolute;
    right: 0;
    top: 0;
    width: clamp(20.12rem, 6.44rem + 28.47vw, 27.81rem);
  }

  .hero-content {
    text-align: left;
    height: 100%;
    position: relative;
    z-index: 4;
    padding: 2rem 0;
    padding: clamp(9.44rem, 4.23rem + 10.85vw, 12.37rem) 0
      clamp(2rem, -8.55rem + 21.99vw, 7.93rem) 0;
  }

  .hero-title {
    position: relative;
    z-index: 3;
    max-width: 10ch;
    margin-bottom: 4rem;
  }

  .hero-text {
    max-width: 45ch;
  }

  .hero-rings {
    top: 13%;
    transform: translateX(-50%);
  }

  .skills {
    text-align: left;
  }

  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    border-bottom: none;
  }

  .skills-content {
    flex-basis: 50%;
  }

  .skills-title {
    padding-bottom: 0.8rem;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project {
    flex-basis: 48%;
  }

  .footer {
    padding: 3.75rem 0 2.5rem 0;
  }

  .footer-ring {
    bottom: 17%;
    transform: translateX(-64%);
  }

  .footer-social-section {
    margin-top: 5.75rem;
    padding-top: 1.88rem;
  }
}

@media (min-width: 62.5rem) {
  .hero-image .image-profile {
    height: 45rem;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 73.3rem;
  }

  .hero-title {
    max-width: 14ch;
  }

  .hero-text {
    max-width: 36ch;
  }

  .hero-rings {
    top: 26%;
    transform: translateX(-18%);
  }

  .hero-circle {
    transform: translateX(-50%);
    left: 0;
    bottom: 3rem;
  }

  .skills-content {
    flex-basis: 33.3%;
  }

  .project {
    position: relative;
  }

  .project-buttons .button:first-child {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .project-image {
    display: block;
  }

  .project-buttons {
    position: absolute;
    top: 0;
    bottom: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0;
    margin-bottom: 0;
    opacity: 0;
  }

  .project:hover .project-buttons {
    opacity: 1;
  }

  .project-body {
    padding-bottom: 5rem;
  }

  .footer {
    padding: 5.75rem 0;
  }

  .footer-ring {
    bottom: 17%;
    transform: translateX(-64%);
  }

  .footer-social-section {
    margin-top: 5.75rem;
    padding-top: 1.88rem;
  }

  .footer-content {
    text-align: left;
  }

  .footer-title {
    margin-bottom: 2.25rem;
  }

  .footer-test {
    font-size: 1.125rem;
  }

  .footer-container {
    max-width: 73.37rem;
  }

  .footer-grid {
    justify-content: space-between;
  }

  .form {
    flex: 0 1 27.8rem;
  }

  .footer-ring {
    bottom: 35%;
    transform: translateX(-43%);
  }
}
